<a href="https://colab.research.google.com/github/kimddong0887/python/blob/main/%EB%B0%B1%EC%A4%80_%EB%8B%A8%EA%B3%84%EB%B3%84_%ED%92%80%EC%9D%B4_1~2%EB%8B%A8%EA%B3%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1단계 입출력과 사칙연산
##1. Hello World
#### Hello World!를 출력하시오.

In [ ]:
print("Hello World!")

Hello World!

##2. We love kriii
####ACM-ICPC 인터넷 예선, Regional, 그리고 World Finals까지 이미 2회씩 진출해버린 kriii는 미련을 버리지 못하고 왠지 모르게 올해에도 파주 World Finals 준비 캠프에 참여했다.
####대회를 뜰 줄 모르는 지박령 kriii를 위해서 격려의 문구를 출력해주자.

In [ ]:
print("강한친구 대한육군")
print("강한친구 대한육군")

강한친구 대한육군
강한친구 대한육군

##3. 고양이
####아래 예제와 같이 고양이를 출력하시오.

In [ ]:
print("\\    /\\")
print(" )  ( \')")
print("(  /  )")
print(" \\(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

##4. 개
####아래 예제와 같이 개를 출력하시오.

In [ ]:
print("|\\_/|")
print("|q p|   /}")
print("( 0 )\"\"\"\\")
print("|\"^\"`    |")
print("||_/=\\\\__|")

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

##5. A + B
####두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

In [ ]:
A, B = map(int,input("정수 입력:").split())
print(A + B)

정수 입력:5 7
12

##6. A-B
####두 정수 A와 B를 입력받은 다음, A-B를 출력하는 프로그램을 작성하시오.

In [ ]:
A, B = map(int,input("정수 입력:").split())
print(A - B)

정수 입력:7 5
2

##7. A×B
####두 정수 A와 B를 입력받은 다음, A×B를 출력하는 프로그램을 작성하시오.

In [ ]:
A, B = map(int,input("정수 입력:").split())
print(A * B)

정수 입력:5 7
35

##8. A/B
####두 정수 A와 B를 입력받은 다음, A/B를 출력하는 프로그램을 작성하시오.

In [ ]:
A, B = map(int,input("정수 입력:").split())
print(A / B)

정수 입력:4 5
0.8

##9. 사칙연산
####두 자연수 A와 B가 주어진다. 이때, A+B, A-B, A*B, A/B(몫), A%B(나머지)를 출력하는 프로그램을 작성하시오.

In [ ]:
A, B = map(int,input("정수 입력:").split())
print(A + B)
print(A - B)
print(A * B)
print(A / B)
print(A % B)

정수 입력:7 3
10
4
21
2.3333333333333335
1

##10. 나머지
####(A+B)%C는 ((A%C) + (B%C))%C 와 같을까?

####(A×B)%C는 ((A%C) × (B%C))%C 와 같을까?

####세 수 A, B, C가 주어졌을 때, 위의 네 가지 값을 구하는 프로그램을 작성하시오.

In [ ]:
A, B, C = map(int,input("정수 입력:").split())
print((A+B)%C)
print(((A%C) + (B%C))%C)
print((A*B)%C)
print(((A%C) * (B%C))%C)

정수 입력:5 8 4
1
1
0
0

##11. 곱셈
####(세 자리 수) × (세 자리 수)는 다음과 같은 과정을 작성하시오.

In [ ]:
A, B = input("정수 입력:").split()
C = int(A) * int(B[2])
D = int(A) * int(B[1])
E = int(A) * int(B[0])
F = int(A) * int(B)
print(C)
print(D)
print(E)
print(F)

정수 입력:472 385
2360
3776
1416
181720

#2단계 if문
##1. 	두 수 비교하기
####두 정수 A와 B가 주어졌을 때, A와 B를 비교하는 프로그램을 작성하시오.

In [ ]:
A, B = map(int,input("정수 입력:").split())
if A > B:
  print(">")
elif A == B:
  print("==")
else:
  print("<")

정수 입력:1 2
<

##2. 시험 성적
####시험 점수를 입력받아 90 ~ 100점은 A, 80 ~ 89점은 B, 70 ~ 79점은 C, 60 ~ 69점은 D, 나머지 점수는 F를 출력하는 프로그램을 작성하시오.

In [ ]:
A = int(input("정수 입력:"))
if A >= 90:
  print("A")
elif A >= 80:
  print("B")
elif A >= 70:
  print("C")
elif A >= 60:
  print("D")
else:
  print("F")

정수 입력:100
A

##3. 윤년
####연도가 주어졌을 때, 윤년이면 1, 아니면 0을 출력하는 프로그램을 작성하시오.

####윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다.

####예를 들어, 2012년은 4의 배수이면서 100의 배수가 아니라서 윤년이다. 1900년은 100의 배수이고 400의 배수는 아니기 때문에 윤년이 아니다. 하지만, 2000년은 400의 배수이기 때문에 윤년이다.

In [ ]:
A = int(input("년도 입력:"))
if A % 4 == 0 and A % 100 != 0 or A % 400 == 0:
  print("1")
else:
  print("0")

년도 입력:2000
1

##4. 사분면 고르기
####주어진 점이 어느 사분면에 속하는지 알아내는 문제

In [ ]:
x, y = map(int, input("좌표 입력:").split())
if x > 0 and y > 0:
  print("1")
elif x < 0 and y > 0:
  print("2")
elif x < 0 and y < 0:
  print("3")
elif x > 0 and y < 0:
  print("4")

좌표 입력:9 -13
4

##5. 알람 시계
####상근이는 매일 아침 알람을 듣고 일어난다. 알람을 듣고 바로 일어나면 다행이겠지만, 항상 조금만 더 자려는 마음 때문에 매일 학교를 지각하고 있다.

####상근이는 모든 방법을 동원해보았지만, 조금만 더 자려는 마음은 그 어떤 것도 없앨 수가 없었다.

####이런 상근이를 불쌍하게 보던, 창영이는 자신이 사용하는 방법을 추천해 주었다.

####바로 "45분 일찍 알람 설정하기"이다.

####이 방법은 단순하다. 원래 설정되어 있는 알람을 45분 앞서는 시간으로 바꾸는 것이다. 어차피 알람 소리를 들으면, 알람을 끄고 조금 더 잘 것이기 때문이다. 이 방법을 사용하면, 매일 아침 더 잤다는 기분을 느낄 수 있고, 학교도 지각하지 않게 된다.

####현재 상근이가 설정한 알람 시각이 주어졌을 때, 창영이의 방법을 사용한다면, 이를 언제로 고쳐야 하는지 구하는 프로그램을 작성하시오.

In [ ]:
HOUR, MINUTE = map(int, input("시간 분 입력:").split())
if MINUTE - 45 < 0:
  if HOUR == 0:
    print(f"23 {60 - (45 - MINUTE)}")
  else:
    print(f"{HOUR -1} {60 - (45 - MINUTE)}")
else:
  print(f"{HOUR} {MINUTE - 45}")

시간 분 입력:11 50
11 5