<a href="https://colab.research.google.com/github/kimddong0887/python/blob/main/%EB%B0%B1%EC%A4%80_%EB%8B%A8%EA%B3%84%EB%B3%84_%ED%92%80%EC%9D%B4_1~2%EB%8B%A8%EA%B3%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1단계 입출력과 사칙연산
##1. Hello World
#### Hello World!를 출력하시오.

In [ ]:
print("Hello World!")

Hello World!

##2. We love kriii
####ACM-ICPC 인터넷 예선, Regional, 그리고 World Finals까지 이미 2회씩 진출해버린 kriii는 미련을 버리지 못하고 왠지 모르게 올해에도 파주 World Finals 준비 캠프에 참여했다.
####대회를 뜰 줄 모르는 지박령 kriii를 위해서 격려의 문구를 출력해주자.

In [ ]:
print("강한친구 대한육군")
print("강한친구 대한육군")

강한친구 대한육군
강한친구 대한육군

##3. 고양이
####아래 예제와 같이 고양이를 출력하시오.

In [ ]:
print("\\    /\\")
print(" )  ( \')")
print("(  /  )")
print(" \\(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

##4. 새싹
####아래 예제와 같이 개를 출력하시오.

In [2]:
print("         ,r\'\"7")
print("r`-_   ,\'  ,/")
print(" \\. \". L_r\'")
print("   `~\\/")
print("      |")
print("      |")

         ,r'"7
r`-_   ,'  ,/
 \. ". L_r'
   `~\/
      |
      |

##5. A + B
####두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

In [4]:
A, B = map(int,input().split())
print(A + B)

1 2
3

##6. A-B
####두 정수 A와 B를 입력받은 다음, A-B를 출력하는 프로그램을 작성하시오.

In [ ]:
A, B = map(int,input().split())
print(A - B)

정수 입력:7 5
2

##7. A×B
####두 정수 A와 B를 입력받은 다음, A×B를 출력하는 프로그램을 작성하시오.

In [ ]:
A, B = map(int,input().split())
print(A * B)

정수 입력:5 7
35

##8. A/B
####두 정수 A와 B를 입력받은 다음, A/B를 출력하는 프로그램을 작성하시오.

In [ ]:
A, B = map(int,input().split())
print(A / B)

정수 입력:4 5
0.8

##9. 사칙연산
####두 자연수 A와 B가 주어진다. 이때, A+B, A-B, A*B, A/B(몫), A%B(나머지)를 출력하는 프로그램을 작성하시오.

In [6]:
A, B = map(int,input().split())
print(A + B)
print(A - B)
print(A * B)
print(A // B)
print(A % B)

7 3
10
4
21
2
1

##10. ??!
####준하는 사이트에 회원가입을 하다가 joonas라는 아이디가 이미 존재하는 것을 보고 놀랐다. 준하는 놀람을 ??!로 표현한다. 준하가 가입하려고 하는 사이트에 이미 존재하는 아이디가 주어졌을 때, 놀람을 표현하는 프로그램을 작성하시오.

In [8]:
A = input()
print(A + "??!")

joonas
joonas??!

##11. 1998년생인 내가 태국에서는 2541년생?!
####ICPC Bangkok Regional에 참가하기 위해 수완나품 국제공항에 막 도착한 팀 레드시프트 일행은 눈을 믿을 수 없었다. 공항의 대형 스크린에 올해가 2562년이라고 적혀 있던 것이었다.

####불교 국가인 태국은 불멸기원(佛滅紀元), 즉 석가모니가 열반한 해를 기준으로 연도를 세는 불기를 사용한다. 반면, 우리나라는 서기 연도를 사용하고 있다. 불기 연도가 주어질 때 이를 서기 연도로 바꿔 주는 프로그램을 작성하시오.

In [11]:
A = int(input())
print(A - 543)

2541
1998

##12. 나머지
####(A+B)%C는 ((A%C) + (B%C))%C 와 같을까?

####(A×B)%C는 ((A%C) × (B%C))%C 와 같을까?

####세 수 A, B, C가 주어졌을 때, 위의 네 가지 값을 구하는 프로그램을 작성하시오.

In [7]:
A, B, C = map(int,input().split())
print((A+B)%C)
print(((A%C) + (B%C))%C)
print((A*B)%C)
print(((A%C) * (B%C))%C)

5 8 4
1
1
0
0

##13. 곱셈
####(세 자리 수) × (세 자리 수)는 다음과 같은 과정을 작성하시오.

In [14]:
A = input()
B = input()
C = int(A) * int(B[2])
D = int(A) * int(B[1])
E = int(A) * int(B[0])
F = int(A) * int(B)
print(C)
print(D)
print(E)
print(F)

472
385
2360
3776
1416
181720

#2단계 if문
##1. 	두 수 비교하기
####두 정수 A와 B가 주어졌을 때, A와 B를 비교하는 프로그램을 작성하시오.

In [ ]:
A, B = map(int,input().split())
if A > B:
  print(">")
elif A == B:
  print("==")
else:
  print("<")

정수 입력:1 2
<

##2. 시험 성적
####시험 점수를 입력받아 90 ~ 100점은 A, 80 ~ 89점은 B, 70 ~ 79점은 C, 60 ~ 69점은 D, 나머지 점수는 F를 출력하는 프로그램을 작성하시오.

In [ ]:
A = int(input())
if A >= 90:
  print("A")
elif A >= 80:
  print("B")
elif A >= 70:
  print("C")
elif A >= 60:
  print("D")
else:
  print("F")

정수 입력:100
A

##3. 윤년
####연도가 주어졌을 때, 윤년이면 1, 아니면 0을 출력하는 프로그램을 작성하시오.

####윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다.

####예를 들어, 2012년은 4의 배수이면서 100의 배수가 아니라서 윤년이다. 1900년은 100의 배수이고 400의 배수는 아니기 때문에 윤년이 아니다. 하지만, 2000년은 400의 배수이기 때문에 윤년이다.

In [ ]:
A = int(input())
if A % 4 == 0 and A % 100 != 0 or A % 400 == 0:
  print("1")
else:
  print("0")

년도 입력:2000
1

##4. 사분면 고르기
####주어진 점이 어느 사분면에 속하는지 알아내는 문제

In [16]:
x = int(input())
y = int(input())
if x > 0 and y > 0:
  print("1")
elif x < 0 and y > 0:
  print("2")
elif x < 0 and y < 0:
  print("3")
elif x > 0 and y < 0:
  print("4")

12
5
1

##5. 알람 시계
####상근이는 매일 아침 알람을 듣고 일어난다. 알람을 듣고 바로 일어나면 다행이겠지만, 항상 조금만 더 자려는 마음 때문에 매일 학교를 지각하고 있다.

####상근이는 모든 방법을 동원해보았지만, 조금만 더 자려는 마음은 그 어떤 것도 없앨 수가 없었다.

####이런 상근이를 불쌍하게 보던, 창영이는 자신이 사용하는 방법을 추천해 주었다.

####바로 "45분 일찍 알람 설정하기"이다.

####이 방법은 단순하다. 원래 설정되어 있는 알람을 45분 앞서는 시간으로 바꾸는 것이다. 어차피 알람 소리를 들으면, 알람을 끄고 조금 더 잘 것이기 때문이다. 이 방법을 사용하면, 매일 아침 더 잤다는 기분을 느낄 수 있고, 학교도 지각하지 않게 된다.

####현재 상근이가 설정한 알람 시각이 주어졌을 때, 창영이의 방법을 사용한다면, 이를 언제로 고쳐야 하는지 구하는 프로그램을 작성하시오.

In [ ]:
HOUR, MINUTE = map(int, input().split())
if MINUTE - 45 < 0:
  if HOUR == 0:
    print(f"23 {60 - (45 - MINUTE)}")
  else:
    print(f"{HOUR -1} {60 - (45 - MINUTE)}")
else:
  print(f"{HOUR} {MINUTE - 45}")

시간 분 입력:11 50
11 5

##6. 오븐 시계
####KOI 전자에서는 건강에 좋고 맛있는 훈제오리구이 요리를 간편하게 만드는 인공지능 오븐을 개발하려고 한다. 인공지능 오븐을 사용하는 방법은 적당한 양의 오리 훈제 재료를 인공지능 오븐에 넣으면 된다. 그러면 인공지능 오븐은 오븐구이가 끝나는 시간을 분 단위로 자동적으로 계산한다. 

####또한, KOI 전자의 인공지능 오븐 앞면에는 사용자에게 훈제오리구이 요리가 끝나는 시각을 알려 주는 디지털 시계가 있다. 

####훈제오리구이를 시작하는 시각과 오븐구이를 하는 데 필요한 시간이 분단위로 주어졌을 때, 오븐구이가 끝나는 시각을 계산하는 프로그램을 작성하시오.

In [25]:
HOUR, MINUTE = map(int, input().split())
PLUS_MINUTE = int(input())
SUM_MINUTE = PLUS_MINUTE + MINUTE
PLUS_HOUR = SUM_MINUTE // 60
if SUM_MINUTE > 59:
  if PLUS_HOUR + HOUR > 23:
    print(f"{(PLUS_HOUR + HOUR) % 24} {SUM_MINUTE % 60}")
  else:
    print(f"{PLUS_HOUR + HOUR} {SUM_MINUTE % 60}")
else:
  print(f"{HOUR} {SUM_MINUTE}")

23 48
25
0 13

##7. 주사위 세개
####1에서부터 6까지의 눈을 가진 3개의 주사위를 던져서 다음과 같은 규칙에 따라 상금을 받는 게임이 있다. 

####1. 같은 눈이 3개가 나오면 10,000원+(같은 눈)×1,000원의 상금을 받게 된다. 
####2. 같은 눈이 2개만 나오는 경우에는 1,000원+(같은 눈)×100원의 상금을 받게 된다. 
####3. 모두 다른 눈이 나오는 경우에는 (그 중 가장 큰 눈)×100원의 상금을 받게 된다.  
####예를 들어, 3개의 눈 3, 3, 6이 주어지면 상금은 1,000+3×100으로 계산되어 1,300원을 받게 된다. 또 3개의 눈이 2, 2, 2로 주어지면 10,000+2×1,000 으로 계산되어 12,000원을 받게 된다. 3개의 눈이 6, 2, 5로 주어지면 그중 가장 큰 값이 6이므로 6×100으로 계산되어 600원을 상금으로 받게 된다.

####3개 주사위의 나온 눈이 주어질 때, 상금을 계산하는 프로그램을 작성 하시오.

In [30]:
First, Second, Third = map(int, input().split())
if First == Second == Third:
  print(10000 + (First * 1000))
elif First == Second or First == Third or Second == Third:
  if First == Second or Second == Third:
    print(1000 + (Second * 100))
  elif First == Third:
    print(1000 + (First * 100))
else:
  print(max(First, Second, Third) * 100)

6 2 5
600