<a href="https://colab.research.google.com/github/kimddong0887/python/blob/main/%EB%B0%B1%EC%A4%80_%EB%8B%A8%EA%B3%84%EB%B3%84_%ED%92%80%EC%9D%B4_3~5%EB%8B%A8%EA%B3%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#3단계 for문
##1. 구구단
#### N을 입력받은 뒤, 구구단 N단을 출력하는 프로그램을 작성하시오. 출력 형식에 맞춰서 출력하면 된다.

In [50]:
N = int(input())
for i in range(1,10):
  print(f"{N} * {i} = {N * i}")

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

##2. A+B - 3
####두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

In [61]:
T = int(input())
for i in range(1,T+1):
  A, B = map(int,input().split())
  print(f"{A + B}")

5
1 1
2
2 3
5
4 5
9
7 6
13
1 5
6

##3. 합
####n이 주어졌을 때, 1부터 n까지 합을 구하는 프로그램을 작성하시오.

In [ ]:
n = int(input())
x = 0
for i in range(1,n + 1):
  x += i
print(x)

n값 입력:3
6

##4. 빠른 A+B
####본격적으로 for문 문제를 풀기 전에 주의해야 할 점이 있다. 입출력 방식이 느리면 여러 줄을 입력받거나 출력할 때 시간초과가 날 수 있다는 점이다.

####C++을 사용하고 있고 cin/cout을 사용하고자 한다면, cin.tie(NULL)과 sync_with_stdio(false)를 둘 다 적용해 주고, endl 대신 개행문자(\n)를 쓰자. 단, 이렇게 하면 더 이상 scanf/printf/puts/getchar/putchar 등 C의 입출력 방식을 사용하면 안 된다.

####Java를 사용하고 있다면, Scanner와 System.out.println 대신 BufferedReader와 BufferedWriter를 사용할 수 있다. BufferedWriter.flush는 맨 마지막에 한 번만 하면 된다.

####Python을 사용하고 있다면, input 대신 sys.stdin.readline을 사용할 수 있다. 단, 이때는 맨 끝의 개행문자까지 같이 입력받기 때문에 문자열을 저장하고 싶을 경우 .rstrip()을 추가로 해 주는 것이 좋다.

####또한 입력과 출력 스트림은 별개이므로, 테스트케이스를 전부 입력받아서 저장한 뒤 전부 출력할 필요는 없다. 테스트케이스를 하나 받은 뒤 하나 출력해도 된다.

####자세한 설명 및 다른 언어의 경우는 이 글에 설명되어 있다.

####이 블로그 글에서 BOJ의 기타 여러 가지 팁을 볼 수 있다.

In [ ]:
import sys
T = int(input())
for i in range(1,T+1):
  A, B = map(int,sys.stdin.readline().split())
  print(f"{A + B}")

##5. N 찍기
####자연수 N이 주어졌을 때, 1부터 N까지 한 줄에 하나씩 출력하는 프로그램을 작성하시오.

In [ ]:
N = int(input())
for i in range (1,N + 1):
  print(i)

자연수 입력:5
1
2
3
4
5

##6. 기찍 N
####자연수 N이 주어졌을 때, N부터 1까지 한 줄에 하나씩 출력하는 프로그램을 작성하시오.

In [ ]:
N = int(input())
for i in range(N):
  print(N - i)

자연수 입력:5
5
4
3
2
1

##7. A+B - 7
####두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

In [ ]:
T = int(input())
x = 1
for i in range(1,T+1):
  A, B = map(int,input().split())
  print(f"Case #{x}: {A + B}")
  x += 1

몇번 출력 입력:5
변수 입력:1 1
Case #1: 2
변수 입력:2 3
Case #2: 5
변수 입력:3 4
Case #3: 7
변수 입력:9 8
Case #4: 17
변수 입력:5 2
Case #5: 7

##8. A+B - 8
####두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

In [ ]:
T = int(input())
x = 1
for i in range(1,T+1):
  A, B = map(int,input().split())
  print(f"Case #{x}: {A} + {B} = {A + B}")
  x += 1

몇번 출력 입력:5
변수 입력:1 1
Case #1: 1 + 1 = 2
변수 입력:2 3
변수 입력:3 4
Case #2: 2 + 3 = 5
Case #3: 3 + 4 = 7
변수 입력:9 8
Case #4: 9 + 8 = 17
변수 입력:5 2
Case #5: 5 + 2 = 7

##9. 별 찍기 - 1
####첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제

In [ ]:
star = int(input())
A = "*"
for i in range(1, star + 1):
  print(f"{A * i}")

별 몇개:5
*
**
***
****
*****

##10. 별 찍기 - 2
####첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제

####하지만, 오른쪽을 기준으로 정렬한 별(예제 참고)을 출력하시오.

In [62]:
star = int(input())
A = "*"
B = " "
for i in range(1,star + 1):
  print(f"{B * (star - i)}{A * i}")

5
    *
   **
  ***
 ****
*****

##11. X보다 작은 수
####정수 N개로 이루어진 수열 A와 정수 X가 주어진다. 이때, A에서 X보다 작은 수를 모두 출력하는 프로그램을 작성하시오.

In [67]:
LIST_1 = []
N, X = map(int,input().split())
A = list(map(int,input().split()))
for B in range(N):
  if A[B] < X:
    LIST_1.append(str(A[B]))
print(" ".join(LIST_1))

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3 5

#4단계 	while문
##1. A+B - 5
#### 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

In [19]:
x = 0
while x <= 0:
  A, B = map(int,input().split())
  if 0 < A < 10 and 0 < B < 10: 
    print(f"{A + B}")
  elif A == 0 and B == 0:
    x += 1

숫자 입력:5 4
9
숫자 입력:0 0

##2. A+B - 4
####두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

In [22]:
import sys

lines = sys.stdin.readlines()
for line in lines:
    A, B = map(int, line.split())
    print(A+B)

In [ ]:
while True:
    try:
        A, B = map(int, input().split())
        print(A+B)
    except EOFError:
        break

##3. 더하기 사이클
####0보다 크거나 같고, 99보다 작거나 같은 정수가 주어질 때 다음과 같은 연산을 할 수 있다. 먼저 주어진 수가 10보다 작다면 앞에 0을 붙여 두 자리 수로 만들고, 각 자리의 숫자를 더한다. 그 다음, 주어진 수의 가장 오른쪽 자리 수와 앞에서 구한 합의 가장 오른쪽 자리 수를 이어 붙이면 새로운 수를 만들 수 있다. 다음 예를 보자.

####26부터 시작한다. 2+6 = 8이다. 새로운 수는 68이다. 6+8 = 14이다. 새로운 수는 84이다. 8+4 = 12이다. 새로운 수는 42이다. 4+2 = 6이다. 새로운 수는 26이다.

####위의 예는 4번만에 원래 수로 돌아올 수 있다. 따라서 26의 사이클의 길이는 4이다.

####N이 주어졌을 때, N의 사이클의 길이를 구하는 프로그램을 작성하시오.

In [46]:
N = int(input("N 값 입력:"))
Y = N
count = 0
count_1 = 0

while count_1 < 1:
  if Y < 10:
   count += 1
   count_1 += 1
  else:
    X = str(Y)
    Y = int(X[0]) + int(X[1])
    if Y < 10:
      Y = X[1] + str(Y)
      Y = int(Y)
      if N == int(Y):
        count += 1
        count_1 += 1
    else:
      Y = X[1] + str(Y)[1]
      Y = int(Y)
      if N == int(Y):
        count += 1
        count_1 += 1
print(count)

N 값 입력:26
1

#5단계 1차원 배열	
##1. 최소, 최대
#### N개의 정수가 주어진다. 이때, 최솟값과 최댓값을 구하는 프로그램을 작성하시오.

In [75]:
N = int(input())
LIST = list(map(int,input().split()))
ANSWER = []
LIST.sort()
ANSWER.append(str(LIST[0])) 
ANSWER.append(str(LIST[N - 1]))
print(" ".join(ANSWER))

5
20 10 35 30 7
7 35

In [77]:
input()
a = [int(s) for s in input().split()]
print(min(a), max(a))

5
20 10 35 30 7
7 35

##2.최댓값
####9개의 서로 다른 자연수가 주어질 때, 이들 중 최댓값을 찾고 그 최댓값이 몇 번째 수인지를 구하는 프로그램을 작성하시오.

####예를 들어, 서로 다른 9개의 자연수

####3, 29, 38, 12, 57, 74, 40, 85, 61

####이 주어지면, 이들 중 최댓값은 85이고, 이 값은 8번째 수이다.

In [87]:
LIST = []
for i in range(9):
  N = int(input())
  LIST.append(N)
A = max(LIST)
print(A)
print(LIST.index(A) + 1)

3
29
38
12
57
74
40
85
61
85
7

##3. 숫자의 개수
####세 개의 자연수 A, B, C가 주어질 때 A × B × C를 계산한 결과에 0부터 9까지 각각의 숫자가 몇 번씩 쓰였는지를 구하는 프로그램을 작성하시오.

####예를 들어 A = 150, B = 266, C = 427 이라면 A × B × C = 150 × 266 × 427 = 17037300 이 되고, 계산한 결과 17037300 에는 0이 3번, 1이 1번, 3이 2번, 7이 2번 쓰였다.

In [91]:
A = int(input())
B = int(input())
C = int(input())
D = A * B * C
D = str(D)
for i in range(10):
  print(D.count(str(i)))

150
266
427
3
1
0
2
0
0
0
2
0

##4. 	나머지
####두 자연수 A와 B가 있을 때, A%B는 A를 B로 나눈 나머지 이다. 예를 들어, 7, 14, 27, 38을 3으로 나눈 나머지는 1, 2, 0, 2이다. 

####수 10개를 입력받은 뒤, 이를 42로 나눈 나머지를 구한다. 그 다음 서로 다른 값이 몇 개 있는지 출력하는 프로그램을 작성하시오.

In [95]:
LIST = []
for i in range(10):
  A = int(input())
  B = A % 42
  if B in LIST:
    continue
  else:
    LIST.append(B)
print(len(LIST))

1
2
3
4
5
6
7
8
9
10
10

##5. 	평균
####세준이는 기말고사를 망쳤다. 세준이는 점수를 조작해서 집에 가져가기로 했다. 일단 세준이는 자기 점수 중에 최댓값을 골랐다. 이 값을 M이라고 한다. 그리고 나서 모든 점수를 점수/M*100으로 고쳤다.

####예를 들어, 세준이의 최고점이 70이고, 수학점수가 50이었으면 수학점수는 50/70*100이 되어 71.43점이 된다.

####세준이의 성적을 위의 방법대로 새로 계산했을 때, 새로운 평균을 구하는 프로그램을 작성하시오.

In [101]:
N = int(input())
LIST = list(map(int,input().split()))
A = max(LIST)
result = 0
for i in LIST:
  result += i / A * 100
print(result / N)

3
40 80 60
75.0

##6. OX퀴즈
####"OOXXOXXOOO"와 같은 OX퀴즈의 결과가 있다. O는 문제를 맞은 것이고, X는 문제를 틀린 것이다. 문제를 맞은 경우 그 문제의 점수는 그 문제까지 연속된 O의 개수가 된다. 예를 들어, 10번 문제의 점수는 3이 된다.

####"OOXXOXXOOO"의 점수는 1+2+0+0+1+0+0+1+2+3 = 10점이다.

####OX퀴즈의 결과가 주어졌을 때, 점수를 구하는 프로그램을 작성하시오.

In [106]:
count = 0
N = int(input())
for i in range(N):
  LIST = input()
  A = LIST.count(O,0,LIST.find("X"))
  LIST.
  count += A * ( A + 1 ) / 2 
  print(count)

SyntaxError: ignored

##7. 평균은 넘겠지
####대학생 새내기들의 90%는 자신이 반에서 평균은 넘는다고 생각한다. 당신은 그들에게 슬픈 진실을 알려줘야 한다.

In [110]:
N = int(input()) 
for i in range(N):
  LIST = list(map(int,input().split()))
  print(f"{round(100 - sum(LIST) / len(LIST),3)}%")

1
13 48 47 7 58 17 56 93 75 38 27 56 19 47 84
54.333%