<a href="https://colab.research.google.com/github/kimddong0887/python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_100%EC%A0%9C_51~70.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##문제51 : merge sort를 만들어보자
병합정렬(merge sort)은 대표적인 정렬 알고리즘 중 하나로 다음과 같이 동작합니다.

> 1. 리스트의 길이가 0 또는 1이면 이미 정렬된 것으로 본다. 그렇지 않은 경우에는

2. 정렬되지 않은 리스트를 절반으로 잘라 비슷한 크기의 두 부분 리스트로 나눈다.

3. 각 부분 리스트를 재귀적으로 합병 정렬을 이용해 정렬한다.

4. 두 부분 리스트를 다시 하나의 정렬된 리스트로 합병한다.
> 

(출처 : 위키피디아)

다음 코드의 빈칸을 채워 병합정렬을 완성해 봅시다.

```python
#병합 정렬
def 병합정렬(입력리스트):
    입력리스트길이 = len(입력리스트)
    if 입력리스트길이 <= 1:
        return 입력리스트
    중간값 = 입력리스트길이 // 2
    그룹_하나 = 병합정렬(입력리스트[:중간값])
    그룹_둘 = 병합정렬(입력리스트[중간값:])
    결과값 = []

    while (#빈칸을 채워주세요) and (#빈칸을 채워주세요) :
        if (#빈칸을 채워주세요):
            결과값.append(그룹_하나.pop(0))
        else:
            결과값.append(그룹_둘.pop(0))

    while 그룹_하나:
        결과값.append(그룹_하나.pop(0))
    while 그룹_둘:
        결과값.append(그룹_둘.pop(0))
    return 결과값

주어진리스트 = [180, 145, 165, 45, 170, 175, 173, 171]
#빈칸을 채워주세요

print(병합정렬(주어진리스트))
```

In [11]:
def 병합정렬(입력리스트):
    입력리스트길이 = len(입력리스트)
    if 입력리스트길이 <= 1:
        return 입력리스트
    중간값 = 입력리스트길이 // 2
    그룹_하나 = 병합정렬(입력리스트[:중간값])
    그룹_둘 = 병합정렬(입력리스트[중간값:])
    결과값 = []

    while 그룹_하나 and 그룹_둘:
        if 그룹_하나[0] < 그룹_둘[0]:
            결과값.append(그룹_하나.pop(0))
        else:
            결과값.append(그룹_둘.pop(0))

    while 그룹_하나:
        결과값.append(그룹_하나.pop(0))
    while 그룹_둘:
        결과값.append(그룹_둘.pop(0))
    return 결과값

주어진리스트 = input().split(' ')
주어진리스트 = [int(i) for i in 주어진리스트]

print(병합정렬(주어진리스트))

1 9 5 3 97 112 56
[1]

##문제52 : quick sort
다음 빈 칸을 채워 퀵 정렬을 완성해주세요.

```python
def 퀵정렬(입력리스트):
    입력리스트의길이 = len(입력리스트)
    if 입력리스트의길이 <= 1:
        return 입력리스트
    기준값 = 입력리스트.pop(입력리스트의길이//2)
    그룹_하나 = []
    그룹_둘 = []
    
    for i in range(입력리스트의길이-1):
        if #내용을 채워주세요:
            그룹_하나.append(입력리스트[i])
        else:
            그룹_둘.append(입력리스트[i])
    return #내용을 채워주세요

주어진리스트 = input().split(' ')
#내용을 채워주세요.

print(퀵정렬(주어진리스트))
```

In [ ]:
def 퀵정렬(입력리스트):
    입력리스트의길이 = len(입력리스트)
    if 입력리스트의길이 <= 1:
        return 입력리스트
    기준값 = 입력리스트.pop(입력리스트의길이//2)
    그룹_하나 = []
    그룹_둘 = []
    
    for i in range(입력리스트의길이-1):
        if 입력리스트[i] < 기준값:
            그룹_하나.append(입력리스트[i])
        else:
            그룹_둘.append(입력리스트[i])
    return 퀵정렬(그룹_하나) + [기준값] + 퀵정렬(그룹_둘)

주어진리스트 = input().split(' ')
주어진리스트 = [int(i) for i in 주어진리스트]

print(퀵정렬(주어진리스트))

##문제53 : 괄호 문자열
괄호 문자열이란 괄호 기호인 '{', '}', '[', ']', '(', ')' 와 같은 것을 말한다. 그 중 괄호의 모양이 바르게 구성 된 문자열을 **바른 문자열**, 그렇지 않은 문자열을 **바르지 않은 문자열**이라 부르도록 하자. 

(())와 같은 문자열은 바른 문자열이지만 ()()) 와 같은 문자열은 바르지 않은 문자열이다.(해당 문제에서는 소괄호만 판별하지만, 실력이 되시는 분들은 중괄호와 대괄호까지 판별해보세요.)

**입력으로 주어진 괄호 문자열이 바른 문자열인지 바르지 않은 문자열인지 "YES"와 "NO"로 구분된 문자열을 출력해보자.**

In [23]:
def math(e):
    if e.count('(') != e.count(')'):
        return False
    괄호 = []
    for i in e:
        if i == '(':
            괄호.append('(')
        if i == ')':
            if len(괄호) == 0:
                return False
            괄호.pop()
    return True

n = input()
if math(n) == True:
	print("YES")
else:
	print("NO")

())()()(
NO

##문제54 : 연속되는 수
은주는 놀이공원 아르바이트를 하고 있습니다. 은주가 일하는 놀이공원에서는 현재 놀이공원 곳곳에 숨겨진 숫자 스탬프를 모아 오면 선물을 주는 이벤트를 하고 있습니다. 숫자 스탬프는 매일 그 수와 스탬프에 적힌 숫자가 바뀌지만 그 숫자는 항상 연속됩니다. 
그런데 요즘 다른 날에 찍은 스탬프를 가지고 와 선물을 달라고 하는 손님이 늘었습니다.

스탬프에 적힌 숫자가 공백으로 구분되어 주어지면 이 숫자가 연속수인지 아닌지 "YES"와 "NO"로 판별하는 프로그램을 작성하세요.

```python
**입력1**
1 2 4 3 5

**출력1**
YES

**입력2**
1 4 2 6 3

**출력2**
NO
```

In [12]:
숫자_리스트 = input("숫자 입력:").split()
숫자_리스트.sort()
n = 0
for i in range(len(숫자_리스트)-1):
  if int(숫자_리스트[i]) == int(숫자_리스트[i + 1]) - 1:
    n += 1
if n == 4:
  print("YES")
else:
  print("NO")

숫자 입력:1 5 7 9 6
NO

##다른 방법

In [33]:
user_input = input().split(' ')
user_input = [int(i) for i in user_input]

def sol(l):
    l = sorted(l)
    for i in range(len(l) - 1):
        if l[i]+1 != l[i+1]:
            return 'NO'
    return 'YES'

print(sol(user_input))

1 2 3 4 5
YES

##문제55 : 하노이의 탑
하노이의 탑은 프랑스 수학자 에두아르드가 처음으로 발표한 게임입니다. 하노이의 탑은 A, B, C 3개의 기둥과 기둥에 꽂을 수 있는 N개의 원판으로 이루어져 있습니다. 이 게임에서 다음의 규칙을 만족해야 합니다.

> 1. 처음에 모든 원판은 A기둥에 꽂혀 있다.
2. 모든 원판의 지름은 다르다.
3. 이 원반은 세 개의 기둥 중 하나에 반드시 꽂혀야 한다.
4. 작은 원반 위에 큰 원반을 놓을 수 없다.
5. 한 번에 하나의 원판(가장 위에 있는 원판) 만을 옮길 수 있다.
> 

이 규칙을 만족하며 A기둥에 있는 원반 N개를 모두 C 원반으로 옮기고 싶습니다.
모든 원반을 옮기기 위해 실행되어야 할 최소 원반 이동 횟수를 계산하는 프로그램을 완성해주세요.

```python
원판의이동경로 = []
def 하노이(원반의수, 시작기둥, 목표기둥, 보조기둥):
    #원판이 한개일 때에는 옮기면 됩니다.
    if 원반의수 == 1:
        원판의이동경로.append([시작기둥, 목표기둥]) 
        return None
    #원반의 n-1개를 경유기둥으로 옮기고
    하노이(#내용을 채워주세요.)
    #가장 큰 원반은 목표기둥으로
    원판의이동경로.append(#내용을 채워주세요.) 
    #경유기둥과 시작기둥을 바꿉니다!
    하노이(#내용을 채워주세요.)

user_input = int(input())
하노이(user_input,'A','C','B')

print(len(원판의이동경로))
```

In [26]:
원판의이동경로 = []
def 하노이(원반의수, 시작기둥, 목표기둥, 보조기둥):
    #원판이 한개일 때에는 옮기면 됩니다.
    if 원반의수 == 1:
        원판의이동경로.append([시작기둥, 목표기둥]) 
        return None

    #원반의 n-1개를 경유기둥으로 옮기고
    하노이(원반의수-1, 시작기둥, 보조기둥, 목표기둥)
    #가장 큰 원반은 목표기둥으로
    원판의이동경로.append([시작기둥, 목표기둥]) 
    #경유기둥과 시작기둥을 바꿉니다!
    하노이(원반의수-1, 보조기둥, 목표기둥, 시작기둥)

하노이(2,'A','C','B')
print(원판의이동경로)
print(len(원판의이동경로))

[['A', 'B'], ['A', 'C'], ['B', 'C']]
3

##문제56 : 리스트의 함수 응용
다음의 딕셔너리가 주어졌을 때 한국의 면적과 가장 비슷한 국가와 그 차이를 출력하세요.

```python
**데이터**
nationWidth = {
     'korea': 220877,
     'Rusia': 17098242,
     'China': 9596961,
     'France': 543965,
     'Japan': 377915,
     'England' : 242900 }

**출력**
England 22023
```

In [27]:
nationWidth = {
	'korea': 220877, 
	'Rusia': 17098242, 
	'China': 9596961, 
	'France': 543965, 
	'Japan': 377915,
	'England' : 242900,
}

w = nationWidth['korea']
nationWidth.pop('korea')
l = list(nationWidth.items())
gap = max(nationWidth.values())
item = 0

for i in l:
    if gap > abs(i[1] - w):
        gap = abs(i[1] - w)
        item = i
print(item[0],item[1]-220877)

England 22023

##문제57 : 내장함수 응용하기
**0부터 1000까지 1의 개수를 세는 프로그램**을 만들려고 합니다. 예를 들어 0부터 20까지 1의 개수를 세어본다면 1, 10 11, 12, 13, 14, 15, 16, 17, 18, 19 에 각각 1이 들어가므로 12개의 1이 있게 됩니다. 11은 1이 2번 들어간 셈이죠.

그렇다면 0부터 1000까지 수에서 1은 몇번이나 들어갔을까요? 출력해주세요!

In [35]:
n = 0
for i in range(1001):
  if str(1) in str(i):
    n += str(i).count('1')

  
print(n)

301

##다른 방법

In [36]:
def count(n):
	countN = str(list(range(n+1))).count('1')
	return countN

print(count(1000))

301

##문제58 : 콤마 찍기
원범이는 편의점 아르바이트가 끝난 후 정산을 하고자 합니다.
정산을 빨리하고 집에가고 싶은 원범이는 프로그램을 만들려고 합니다.

**숫자를 입력 받고 천단위로 콤마(,)를 찍어주세요.**

예를들어, 123456789를 입력받았으면 123,456,789 를 출력해야합니다.

In [38]:
n = int(input())

result = format(n, ',')
print(result)

123456789
123,456,789

##문제59 : 빈칸채우기
총 문자열의 길이는 50으로 제한하고 사용자가 문자열을 입력하면 그 문자열을 가운데 정렬을 해주고, 나머지 빈 부분에는 '='을 채워넣어주세요

**입출력예시** 

```python
**입력**
hi

**출력**
========================hi========================
```

In [42]:
user_input = input()
print("{0:=^50}".format(user_input))

hi
========================hi========================

##문제60 : enumerate
새학기가 되어 **이름을 가나다 순서대로 배정하고 번호를 매기려고 합니다**.
코드에 입력된 이름을 아래와 같이 출력해주세요.

```python
**데이터**
student = ['강은지','김유정','박현서','최성훈','홍유진','박지호','권윤일','김채리','한지호','김진이','김민호','강채연']

**출력**
번호: 1, 이름: 강은지
번호: 2, 이름: 강채연
번호: 3, 이름: 권윤일
번호: 4, 이름: 김민호
번호: 5, 이름: 김유정
번호: 6, 이름: 김진이
번호: 7, 이름: 김채리
번호: 8, 이름: 박지호
번호: 9, 이름: 박현서
번호: 10, 이름: 최성훈
번호: 11, 이름: 한지호
번호: 12, 이름: 홍유진
```

In [55]:
student = ['강은지','김유정','박현서','최성훈','홍유진','박지호','권윤일','김채리','한지호','김진이','김민호','강채연']
student.sort()
n = 1
for i in student:
  print(f"번호: {n}, 이름: {i}")
  n += 1

번호: 1, 이름: 강은지
번호: 2, 이름: 강채연
번호: 3, 이름: 권윤일
번호: 4, 이름: 김민호
번호: 5, 이름: 김유정
번호: 6, 이름: 김진이
번호: 7, 이름: 김채리
번호: 8, 이름: 박지호
번호: 9, 이름: 박현서
번호: 10, 이름: 최성훈
번호: 11, 이름: 한지호
번호: 12, 이름: 홍유진

##다른 방법

In [54]:
students = ['강은지','김유정','박현서','최성훈','홍유진','박지호','권윤일','김채리','한지호','김진이','김민호','강채연']
students = sorted(students)

for number, name in enumerate(students):
    print("번호: {}, 이름: {}".format(number+1, name))

번호: 1, 이름: 강은지
번호: 2, 이름: 강채연
번호: 3, 이름: 권윤일
번호: 4, 이름: 김민호
번호: 5, 이름: 김유정
번호: 6, 이름: 김진이
번호: 7, 이름: 김채리
번호: 8, 이름: 박지호
번호: 9, 이름: 박현서
번호: 10, 이름: 최성훈
번호: 11, 이름: 한지호
번호: 12, 이름: 홍유진

##문제61 : 문자열 압축하기
문자열을 입력받고 연속되는 문자열을 압축해서 표현하고싶습니다.

```python
**입력**
aaabbbbcdddd

**출력**
a3b4c1d4
```

In [82]:
문자열 = input("문자열 입력:")
result = ""
문자열_중복제거 = sorted(set(문자열))
for i in range(len(문자열_중복제거)):
  result = result + 문자열_중복제거[i] + str(문자열.count(문자열_중복제거[i]))
print(result)

문자열 입력:aaabbbbcdddd
a3b4c1d4

##다른 방법

In [ ]:
user_input = input()
s = ''
storeString = user_input[0]
count = 0
for i in user_input:
    if i == storeString:
        count += 1
    else:
        s += storeString + str(count)
        storeString = i
        count = 1
s += storeString + str(count)
print(s)

##문제62 : 20190923출력하기
`20190923`을 출력합니다.  아래 기준만 만족하면 됩니다.

1. 코드 내에 숫자가 없어야 합니다.
    - 예) print(20190923)이라고 하시면 안됩니다.
2. 파일 이름이나 경로를 사용해서는 안됩니다.
3. 시간, 날짜 함수를 사용해서는 안됩니다.
4. 에러 번호 출력을 이용해서는 안됩니다.
5. input을 이용해서는 안됩니다.

In [86]:
문자열 = "aacdddddddddfffffffffgghhh"
result = ""
문자열_1 = "abcdefgh"
for i in range(len(문자열_1)):
  result = result + str(문자열.count(문자열_1[i]))
print(result)

20190923

##다른 방법

In [88]:
string='aacddddddddd'
a=string.count('a') #2
b=string.count('b') #0
c=string.count('c') #1
d=string.count('d') #9
print(int(str(a)+str(b)+str(c)+str(d)+str(b)+str(d)+str(a)+str(a+1)))

20190923

##문제63 : 친해지고 싶어
한국대학교의 김한국교수님은 학생들과 친해지기 위해서 딸에게 줄임말을 배우기로 했습니다.
딸은 '복잡한 세상 편하게 살자' 라는 문장을 '복세편살'로 줄여 말합니다.

교수님이 줄임말을 배우기 위해 위와 같이 어떤 입력이 주어지면 앞 글자만 줄여 출력하도록 해주세요.

```python
**입력 - 입력은 한글 혹은 영어로 입력됩니다.**
복잡한 세상 편하게 살자

**출력 - 띄어쓰기를 기준으로 하여 짧은 형태로 출력합니다.**
복세편살
```

In [92]:
문장 = input("문장 입력:").split()
결과 = ""
for i in 문장:
  첫글자 = i[0]
  결과 = 결과 + 첫글자

print(결과)

문장 입력:복잡한 세상 편하게 살자
복세편살

##다른 방법

In [93]:
user_input = input().split(' ')
#print(user_input)
result = ''

for s in user_input:
    result += s[0]

print(result)

복잡한 세상 편하게 살자
복세편살

##문제64 : 이상한 엘레베이터
정량 N에 정확히 맞춰야만 움직이는 화물용 엘레베이터가 있습니다.
화물은 7kg, 3kg 두 가지이며 팔이 아픈 은후는 가장 적게 화물을 옮기고 싶습니다.

예를 들어 정량이 24kg이라면 3kg 8개를 옮기는 것 보다는
7kg 3개, 3kg 1개 즉 4개로 더 적게 옮길 수 있습니다.

**입력**
정량 N이 입력됩니다.

**출력**
가장 적게 옮길 수 있는 횟수를 출력합니다.
만약 어떻게 해도 정량이 N이 되지 않는다면 -1을 출력합니다.

In [102]:
정량 = int(input("정량 입력:"))
a = 정량 % 7
b = a % 3
c = 정량 // 7
d = a // 3 
if b == 0:
  print(c + d)
else:
  print(-1)

정량 입력:24
4

##다른 방법

In [103]:
N = int(input())
result = 0

while True:
    if N%7 ==0:
        result += N//7
        print(result)
        break
    N -= 3
    result += 1
    if N < 0:
        print(-1)
        break

24
4

##문제65 : 변형된 리스트
a = [1,2,3,4]
b = [a,b,c,d]
이런 리스트가 있을 때 [[1,a],[b,2],[3,c],[d,4]] 이런식으로 a,b리스트가 번갈아가면서 출력되게 해주세요.

In [111]:
a = input().split(' ')
b = input().split(' ')

c = []
count = 0

for i, j in zip(a, b):
	if count % 2 == 0:
		c.append([i, j])
	else:
		c.append([j, i])
	count += 1

print(c)

1 2 3 4
a b c d
[['1', 'a'], ['b', '2'], ['3', 'c'], ['d', '4']]

##문제66 : 블럭탑쌓기
탑을 쌓기 위해 각 크기별로 준비된 블럭들을 정해진 순서에 맞게 쌓아햐 합니다.
순서에 맞게 쌓지 않으면 무너질 수 있습니다.
예를 들면 정해진 순서가 BAC 라면 A 다음 C가 쌓아져야 합니다.
선행으로 쌓아야 하는 블럭이 만족된 경우라면 탑이 무너지지 않습니다.

- B를 쌓지 않아도 A와 C를 쌓을 수 있습니다.
- B 다음 블럭이 C가 될 수 있습니다.

쌓아져 있는 블럭 탑이 순서에 맞게 쌓아져 있는지 확인하세요.

1. 블럭은 알파벳 대문자로 표기합니다.
2. 규칙에 없는 블럭이 사용될 수 있습니다.
3. 중복된 블럭은 존재하지 않습니다.

```python
**입력**
탑 = ["ABCDEF", "BCAD", "ADEFQRX", "BEDFG"]
규칙 = "ABD"

**출력**
["가능","불가능","가능","가능"]
```

In [112]:
def solution(전체블록, 규칙):
    answer = []
    for 부분블록 in 전체블록:
        answer.append(블록순서체크(부분블록, 규칙))
    return answer

def 블록순서체크(부분블록, 규칙):
    임시변수 = 규칙.index(규칙[0])
    for 문자 in 부분블록:
        if 문자 in 규칙:
            if 임시변수 > 규칙.index(문자):
                return '불가능'
            임시변수 = 규칙.index(문자)
    return '가능'

전체블록 = ['ABCDEF', 'BCAD', 'ADEFQRX', 'BEDFG', 'AEBFDGCH']
규칙 = 'ABCD'

print(solution(전체블록, 규칙))

['가능', '불가능', '가능', '가능', '불가능']

##문제67 : 민규의 악수
광장에서 모인 사람들과 악수를 하는 행사가 열렸다.
참가자인 민규는 몇명의 사람들과 악수를 한 후 중간에 일이 생겨 집으로 갔다.
이 행사에서 진행된 악수는 총 n번이라고 했을때.

민규는 몇번의 악수를 하고 집으로 돌아갔을까?
이때 민규를 포함한 행사 참가자는 몇명일까?

- 악수는 모두 1대 1로 진행이 된다.
- 민규를 제외한 모든 참가자는 자신을 제외한 참가자와 모두 한번씩 악수를 한다.
- 같은 상대와 중복된 악수는 카운트 하지 않는다.
- 민규를 제외한 참가자는 행사를 모두 마쳤다.

input : n (행사에서 진행된 악수 횟수)
output : [ 민규의 악수횟수 , 행사참가자]

설명)
59회의 악수가 행사에서 진행되었다.
이때 민규는 4번의 악수를 하였고 민규를 포함한 참가자는 12명이다.

In [113]:
def solution(n):
    people = 0
    total = 0
    while(True):
        total = people*(people-1)/2
        if n<total:
            break
        people+=1
    times = int(people-(total-n)-1)
    return [times,people]

##문제68 : 버스 시간표
학교가 끝난 지원이는 집에 가려고 합니다. 학교 앞에 있는 버스 시간표는 너무 복잡해서 버스 도착시간이 몇 분 남았는지 알려주는 프로그램을 만들고 싶습니다.
버스시간표와 현재 시간이 주어졌을 때 버스 도착 시간이 얼마나 남았는지 알려주는 프로그램을 만들어주세요.

- 버스 시간표와 현재시간이 입력으루 주어집니다.
- 출력 포맷은 "00시00분"입니다.
   만약 1시간 3분이 남았다면 "01시간03분"으로 출력해야 합니다.
- 버스 시간표에 현재 시간보다 이전인 버스가 있다면 "지나갔습니다."라고 출력합니다.

```python
**입력**
["12:30", "13:20", "14:13"]
"12:40"

**출력**
['지나갔습니다', '00시간 40분', '01시간 33분']
```

In [143]:
버스_시간표 = input("버스 시간표 입력:").split()
현재_시간 = input("현재 시간 입력:")
현재_시분 = 현재_시간.split(":")
현재_시분 = list(map(int, 현재_시분))
출력 = []
for i in range(len(버스_시간표)):
  버스_시분 = 버스_시간표[i].split(":")
  버스_시분 = list(map(int, 버스_시분))
  if 버스_시분[0] <= 현재_시분[0] and 버스_시분[1] <= 현재_시분[1]:
    출력.append('지나갔습니다')
  else:
    if 버스_시분[0] - 현재_시분[0] == 1:
      출력.append(f'00시간 {현재_시분[1]}')
print(출력)    
  
print(버스_시분)
print(현재_시분)

버스 시간표 입력:12:30 13:20 14:13
현재 시간 입력:12:40
['지나갔습니다.']
[14, 13]
[12, 40]

In [115]:
1def sol(tb, rt):
    answer = []
    rt = rt.split(':')
    for i in range(len(tb)):
        time = tb[i].split(':')
        time_to_min = ((int(time[0])*60 + int(time[1])) - (int(rt[0])*60+int(rt[1])))
        if time_to_min < 0:
            answer.append("지나갔습니다")
        else:
            a = (time_to_min) // 60
            b = (time_to_min) % 60
            answer.append(str(a).zfill(2)+'시간 '+str(b).zfill(2)+'분')
    return answer

sol(["12:30", "13:20", "14:13"], "12:40")

['지나갔습니다', '00시간 40분', '01시간 33분']

##문제69 : 골드바흐의 추측
골드바흐의 추측(Goldbach's conjecture)은 오래전부터 알려진 정수론의 미해결 문제로, 2보다 큰 모든 짝수는 두 개의 소수(Prime number)의 합으로 표시할 수 있다는 것이다. 이때 하나의 소수를 두 번 사용하는 것은 허용한다. - 위키백과

위 설명에서 2보다 큰 모든 짝수를 두 소수의 합으로 나타낸 것을 골드바흐 파티션이라고 합니다.

예)
100 == 47 + 53
56 == 19 + 37

**2보다 큰 짝수 n이 주어졌을 때, 골드바흐 파티션을 출력하는 코드를** 작성하세요. 

* 해당 문제의 출력 형식은 자유롭습니다. 가능하시다면 골드바흐 파티션 모두를 출력하거나, 그 차가 작은 것을 출력하거나 그 차가 큰 것 모두 출력해보세요.

In [116]:
def cal():
    n=10000*2
    primes=[]    
    a = [False,False] + [True]*(n-1)

    for i in range(2,n+1):
      if a[i]:
        primes.append(i)
        for j in range(2*i, n+1, i):
            a[j] = False
            
    return primes


a = cal()

#골드바흐파티션
n = int(input())
l = []
k = []	

for i in range(2, n//2+1):    
    if i in a and n-i in a:
        l.append(i)
        l.append(n-i)

for i in range(0,len(l)-1,2):
    k.append(l[i+1]-l[i])
    
index = k.index(min(k))*2
print(l[index], l[index+1])

80
37 43

##문제70 : 행렬 곱하기
행렬 2개가 주어졌을 때 곱할 수 있는 행렬인지 확인하고 곱할 수 있다면 그 결과를, 곱할 수 없다면 -1을 출력하는 프로그램을 만들어주세요.

* 라이브러리는 사용을 금지합니다.

```python
**입력**
a = ([1, 2],
     [2, 4])
b = ([1, 0],
     [0, 3])

**출력**
([1,6], [2,12])
```

In [119]:
a = ([1, 2], [2, 4])
b = ([1, 0], [0, 3])

def sol(a, b):
    c = []
    if len(a) == len(b[0]):
        for i in range(len(a)):
            c.append([0]*len(b[0]))
        for i in range(len(c)):
            for j in range(len(c[i])):
                for k in range(len(a[i])):
                    c[i][j] += a[i][k] * b[k][j]
        return c
    else:
        return -1
print(sol(a, b))

[[1, 6], [2, 12]]